* {
    box-sizing: border-box;
  }

  

  
  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width:100%;
    }
  }

table, th, td {
    border: 1px dotted hotpink;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    border-collapse: collapse;
}